main {
    background: #eeeeee;
    margin: 2rem;
    border-radius: 1em;
}

footer {
    text-align: center;
    color: #777777;

    a {
        color: #777777;
        text-decoration: underline;
    }
}